<section class="fullW thumbs_wrap" style="min-height:100vh;">
	<div class="fullW paddingLR thumbs_wrap" style="margin-top:50px">
	<div class="fullW thumbs_wrap" ng-show="!eventCategories.length">
		<h2 class="centric colorlg centric">Events & Workshops</h2>
		<p class="centric colorlg">Will be updated soon</p>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12" style="margin-bottom: 25px;" ng-repeat="eventCategory in eventCategories">
	<md-card>
        <div class="fullW thumbs_wrap bgImage" style="height:400px;background-image:url({{eventCategory.poster}});opacity:1"></div>
        <h2 class="md-headline colorg" style="padding:0px 10px">{{eventCategory.name}}</h2>
       <!--  <md-card-content>
          <p ng-repeat="info in eventCategory.info">
          {{info}}
          </p>
        </md-card-content> -->
        <md-card-actions layout="row" layout-align="end center" >
        	<md-fab-speed-dial md-open="false" md-direction="up" class="md-scale" style="position:absolute;bottom:10px">
		        <md-fab-trigger class="fullW">
		          <md-button aria-label="menu" class="md-raised md-warn floatR">
		            Events
		          </md-button>
		        </md-fab-trigger>

		        <md-fab-actions>
		          <md-button ng-click="goToEvent(event.event._id)" ng-repeat="event in eventCategory.events" class="md-raised md-mini" style="margin:3px 0px;float:right">{{event.event.name}}
		          </md-button>
		        </md-fab-actions>
		    </md-fab-speed-dial>
        </md-card-actions>
      </md-card>
    </div>

	</div>

 
<section>













