<section class="fullW thumbs_wrap" style="min-height:100vh;">
	<div class="col-md-2 col-sm-1 col-xs-12"></div>
	<div class="thumbs_wrap col-md-8 col-sm-10 col-xs-12" style="margin-top:60px">
	  <md-card style="margin-top:10px">
        <h2 class="md-headline colorg" style="padding:0px 10px;margin:5px">{{event.name}}</h2>
        <div class="fullW thumbs_wrap bgImage" style="height:350px;background-image:url({{poster}});opacity:1"></div>
        <md-card-content style="padding:0px 10px">
  				<md-tabs md-dynamic-height="" md-border-bottom="">
				      <md-tab label="about">
				        <md-content class="md-padding">
				          <h3>Info</h3>
				          <p ng-repeat="info in event.info">{{info}}</p>
				          <div class="fullW thumbs_wrap" ng-if="event.awards.length">
					          <h3>Awards</h3>
					          <p ng-repeat="award in event.awards">{{award}}</p>
					      </div>
					      <div class="fullW thumbs_wrap" ng-if="event.venue.length">
							  <h3>Venue</h3>
					          <p>{{event.venue}}</p>
					          <p>Time: {{event.startTime | date:'medium'}} - {{event.endTime | date:'medium'}}</p>
					      </div>

				        </md-content>
				      </md-tab>
				      <md-tab label="faq">
				        <md-content class="md-padding">
				          <p ng-repeat="faq in event.faq">{{faq}}</p>
				        </md-content>
				      </md-tab>
				      <md-tab label="rules/terms" ng-if="event.rules.length">
				        <md-content class="md-padding">
				          <p ng-repeat="rule in event.rules">{{rule}}</p>
				        </md-content>
				      </md-tab>
				       <md-tab label="contacts">
				        <md-content class="md-padding">
				          <p ng-repeat="contact in event.contact">{{contact}}</p>
				        </md-content>
				      </md-tab>
				       <md-tab label="problem statement" ng-if="event.problemStatement.length">
				        <md-content class="md-padding">
				         <a href="{{event.problemStatement}}" target="_blank">Click here</a> to open the problem statement.
				        </md-content>
				      </md-tab>
				       <md-tab label="registration" ng-if="!event.paylink.length">
				        <md-content class="md-padding">
				        	<label>Click on the button to register for the event</label>
				        	<md-button class="md-warn md-raised" ng-click="register()" ng-disabled="isRegistered">Register<span ng-show="isRegistered">ed</span></md-button>
				        	<p>If this is a team event, it is enough if one member of the team registers here.</p>
				        </md-content>
				      </md-tab>
				      <md-tab label="Payment" ng-if="event.paylink.length">
				        <md-content class="md-padding">
				        	<label>This is a paid Workshop</label>
				        	<div>
				        		<b><u>Pay through DD or NEFT</u></br>
				        		Account Name: BHANU MITRA BULUSU<br/>
				        		Account number: 20176727333<br/>                        
								SBI, IIT Madras Branch<br/>
								IFSC: SBIN0001055<br/>
								Mobile Number: 9087863231</b>
				        	</div>
				        	<!-- <md-button class="md-warn md-raised" ng-click="register()" ng-disabled="isRegistered">Register<span ng-show="isRegistered">ed</span></md-button> -->
				        </md-content>
				      </md-tab>
				    </md-tabs>
        </md-card-content>
      </md-card>	
	</div>
</section>