body {
  margin: 0;
  background: rgba(0,0,0,0);
  font-family: 'Montserrat'; 
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}


.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
  margin-bottom: 20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

#waitingAnim{
  -webkit-animation: blinkingAnim 1s infinite; /* Chrome, Safari, Opera */ 
  animation: blinkingAnim 1s infinite;
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes blinkingAnim {
    0%   {opacity:0}
    50%  {opacity:1}
    100%   {opacity:0}
}

/* Standard syntax */
@keyframes element {
     0%   {opacity:0}
    50%  {opacity:1}
    100%   {opacity:0}
}