<!-- <video poster="/assets/images/videoBackground.jpg" id="bgvid" playsinline autoplay muted loop>
  WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button 
<source src="/assets/videos/hd0407.mp4" type="video/mp4">
<!-- <source src="/assets/videos/background.mp4" type="video/mp4"> 
</video> -->
<div style="background:black" class="fullW thumbs_wrap">
  <div class="bgImage fullW" style="height:100vh;min-height:500px;background-image:url(assets/images/background.jpg);position:fixed;opacity:0.3"></div>

  <div style="position:fixed;left:10px;bottom:10px">
    <img src="assets/images/iitmlogo.png" width="55px"/>
    <img src="assets/images/mea.png" width="70px" />
  </div>

  <div style="position:fixed;right:10px;bottom:10px;z-index:10">
      <a href="https://www.facebook.com/mechanica.iitm" target="_blank" class="cursorp"><img src="assets/images/fb_icon.png" height='30px'/></a>
      <a href="https://twitter.com/Mechanica_IITM" target="_blank" class="cursorp"><img src="assets/images/twitter_icon.png" height='34px'/></a>
  </div>
  <p style="position:fixed;bottom:50px" class="centric colorw fullW"><u>Scroll Down</u></p>
  <section class="fullW valignOut thumbs_wrap" style="height:100vh;">
    <div class="centric colorw" style="text-shadow:0px 0px 20px #252525;padding:20px 50px">

      <img src="favicon.ico" class="dp"/>
      <h1 style="font-size:50px;letter-spacing:-1px">Mechanica 2017</h1>
      <!-- <h4 style="letter-spacing:-1px">{{$ctrl.listItem}}</h4> -->
      <p id="waitingAnim">Coming Soon...</p>
      <p></p>
            <br/><br/><br/><br/>
    </div>
  </section>
  <section class="fullW bglg padding10 thumbs_wrap" style="min-height:100vh;">
    <div class="fullW paddingLR thumbs_wra[">
      <h2 class="centric colorbl centric">Contact us</h2>
      <hr/>
      <div class="fullW thumbs_wrap" ng-repeat="core in $ctrl.cores">
        <h4 class="centric">{{core.type}}</h4>
        <div class="fullW thumbs_wrap valignOutMob">
          <div class="col-sm-4" ng-repeat="profile in core.profile">
            <regular-card user="profile"></regular-card>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script type="text/ng-template" id="regularcard.html">
  
  <md-card>
    <md-card-title>
      <div class="floatL">
        <img src="assets/team/{{user.name}}.jpg" class="dp"/>
      </div>
      <div class="floatL" style="padding:0px 0px 0px 10px">
        <h5>{{user.name}}</h5>
        <p style="font-size:12px;margin-bottom:5px">{{user.email}}</p>
        <p style="font-size:12px;margin-bottom:5px">{{user.phone}}</p>
      </div>
    </md-card-title>
  </md-card>
</script>
<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header> -->
<!-- 
<div class="container">
  <div class="row">
    <div ng-repeat="event in $ctrl.events" ng-show="$ctrl.isLoggedIn()">
    <h4>{{event.name}}</h4>
     <button type="button" ng-click="$ctrl.registerEvent(event)" class="btn btn-lg btn-warning" >REGISTER</button>

    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
      </span>
    </p>
  </form>
</div> -->
