
<div class="fullW thumbs_wrap fullH" style="z-index:1000">
  <div class="header" style="z-index:10">
    <h1><img src="/assets/images/logoMechanica3.png" height="70px"/></h1>
    <h2 style="letter-spacing:4px" class="colorbl">a fest for true mechanical engineers</h2>
    <h2 style="letter-spacing:0px;font-size:12px" class="colorbl">March 3 - 5</h2>
  </div>
  <div class="world fullH thumbs_wrap" id="world"></div>

  <div class="message message--replay hideInMobile" style="z-index:10;top:50vh;display:block">
    <a href="/game" style="text-decoration:none"><span ng-show="!$ctrl.isLoggedIn">Login</span><span ng-show="$ctrl.isLoggedIn">Click</span> to Play</a><br/>
    <p class="sizeten colorcr">Make high score in a week and win exciting prizes</p>
    <div class="fullW centric"><a href="https://docs.google.com/document/d/1kY-pPnQG3-GMR5jRuI1WpFXdEkEj9ulZcS02I2jvAV8/edit?usp=sharing" style="font-weight:bold;color:white" target="_blank">Events Schedule</a></div>
  </div>
  <div style="top:40px;position:fixed" class="padding10 colorcr hideInMobile">
    <h3>High Scores</h3>
    <p ng-repeat="user in highscores">
      {{user.name}} - {{user.highscore | number:0}}
      <br/>
      <span class="colorbl sizeten">{{user.college}}</span>
    </p>
  </div>
  <div style="position:absolute;bottom:10px;" class="centric fullW colorw">
    <h5>Game powered by Tympanus.net</h5>
    <h5>In case of any problems, contact us @ mechanica.techops@gmail.com</h5>
  </div>

  <div class="fullW thumbs_wrap showInMobile" style="top:30vh">
    <div class="fullW centric"><a href="/eventCategories" style="font-weight:bold;color:white">Events & Workshops</a></div>
    <div class="fullW centric"><a href="/hospi" style="font-weight:bold;color:white">Hospitality</a></div>
    <div class="fullW centric"><a href="/contactUs" style="font-weight:bold;color:white">Contact Us</a></div>
    <div class="fullW centric"><a href="/sponsors" style="font-weight:bold;color:white">Sponsors</a></div>
    <div class="fullW centric"><a href="https://docs.google.com/document/d/1kY-pPnQG3-GMR5jRuI1WpFXdEkEj9ulZcS02I2jvAV8/edit?usp=sharing" style="font-weight:bold;color:white" target="_blank">Events Schedule</a></div>
  </div>
  <div class="fullW fullH thumbs_wrap hideInMobile">
    <a href="/eventCategories">
      <div class="thumbs_wrap navIcon" id="navIconEvent">
        <img src="/assets/images/gear.png">
        <p class="fullW valignOut navName" style="padding:0px 30px">Events <br/>& Workshops</p>
      </div>
    </a>
    <a href="/sponsors">
      <div class="thumbs_wrap navIcon" id="navIconSpons">
        <img src="/assets/images/gear.png">
        <p class="fullW valignOut navName">Sponsors</p>
      </div>
    </a>
    <a href="/hospi">
      <div class="thumbs_wrap navIcon" id="navIconHospi">
        <img src="/assets/images/gear.png">
        <p class="fullW valignOut navName">Hospitality</p>
      </div>
    </a>
    <a href="/contactUs">
      <div class="thumbs_wrap navIcon" id="navIconContact">
        <img src="/assets/images/gear.png">
        <p class="fullW valignOut navName">Contact Us</p>
      </div>
    </a>
  </div>

  <div class="partisan" style="padding:20px 7.5em 1em 8.5em;z-index:10">
      <svg class="partisan__bg" viewBox="0 0 500 188" preserveAspectRatio="none" width="100%" height="100%" aria-hidden="true">
        <polygon points="0 154 123.39 0 235.78 14.79 365.6 28.9 436.24 114.93 500 188 0 188 0 154" fill="#fff"/>
        <polygon points="0 188 108.84 18.17 347.91 26.79 500 188 365.6 28.9 123.39 0 0 154 0 188" fill="#8a775b"/>
      </svg>
      <div style="opacity:1;color:grey" class="thumbs_wrap fullW valignOut">
        <div class="fullW">
          <h5 class="fullW colorbl"><b>Register for Workshops now</b></h5>
          <p ng-repeat="event in eventCategory.events"><a target="_blank" href="/event/{{event.event._id}}"><b>{{event.event.name}}</b></a></p>
        </div>
      </div>
  </div>

  <!-- fixed icons-->
  <div style="position:fixed;left:10px;bottom:10px">
  </div>

  <div style="position:fixed;right:10px;bottom:10px;z-index:1">
      <a href="https://www.facebook.com/mechanica.iitm" target="_blank" class="cursorp"><img src="assets/images/fb_icon.png" height='40px'/></a>
      <!-- <a href="https://twitter.com/Mechanica_IITM" target="_blank" class="cursorp"><img src="assets/images/twitter_icon.png" height='34px'/></a> -->
    <img src="assets/images/mea.png" width="50px" />
    <img src="assets/images/iitmlogo.png" width="40px"/>
  </div>
</div>
