body {
  margin: 0;
  font-family: 'Montserrat'; 
  background: -webkit-linear-gradient(#002a2d, #000519);
  background: linear-gradient(#002a2d, #000519);
  float: left;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
html{
  float: left;
  position: relative;
  height: auto;
  width: 100%;
  overflow-x:hidden; 
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}


.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
  margin-bottom: 20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

#waitingAnim{
  -webkit-animation: blinkingAnim 1s infinite; /* Chrome, Safari, Opera */ 
  animation: blinkingAnim 1s infinite;
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes blinkingAnim {
    0%   {opacity:0}
    50%  {opacity:1}
    100%   {opacity:0}
}

/* Standard syntax */
@keyframes element {
     0%   {opacity:0}
    50%  {opacity:1}
    100%   {opacity:0}
}

.navIcon img{
  width: 140px;
  height: auto;
  animation: navIcon 4s linear infinite;
}
@keyframes navIcon{
  0%{transform:rotate(0deg)}
  50%{transform:rotate(180deg)}
  100%{transform:rotate(360deg)}
}

.navName{
  position: absolute;
  height: 100%;
  color: #d1b790;
  font-weight: bold;
  top:0px;
}

.navIcon{
  position: absolute !important;
  /*width: 100px;
  height: 100px;
  border: 2px dotted #d1b790;
  border-radius: 50%;
  animation: navIcon 2s ease infinite;*/
}

#navIconEvent{
  top : 10%;
  left : 15%;
}
#navIconSpons{
  top : 45%;
  left : 50px;
}
#navIconHospi{
  top : 10%;
  right: 15%;
}
#navIconContact{
  top : 45%;
  right: 50px;
}

.navbar-default .navbar-nav > li > a{
  color: white;
}
.navbar-default .navbar-nav > li > a:hover{
  color:#ddd;
}

@media only screen and (min-width: 992px) {
  .hideInMobile{
    display: block !important;
  }
  .showInMobile{
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .hideInMobile{
    display: hide !important;
  }
  .showInMobile{
    display: block;
  }
}