<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 col-md-6 col-xs-12 thumbs_wrap bgw padding10 box_shadow_dwn borderLt" style="margin-top:80px">
      <div class="fullW thumbs_wrap padding10">
        <h2>Sign up</h2>
        <form class="form" name="form" ng-submit="vm.register(form)" novalidate>

          <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                              'has-error': form.name.$invalid && vm.submitted }">
            <label>Name</label>

            <input type="text" name="name" placeholder="e.g. Tyrion Lannister" class="form-control" ng-model="vm.user.name"
                   required/>
            <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
              A name is required
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                              'has-error': form.email.$invalid && vm.submitted }">
            <label>Email</label>

            <input type="email" name="email" placeholder="e.g. tyrion@got.com" class="form-control" ng-model="vm.user.email"
                   required
                   mongoose-error/>
            <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
              Doesn't look like a valid email.
            </p>
            <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
              What's your email address?
            </p>
            <p class="help-block" ng-show="form.email.$error.mongoose">
              {{ vm.errors.email }}
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                              'has-error': form.password.$invalid && vm.submitted }">
            <label>Password</label>

            <input type="password" name="password" class="form-control" ng-model="vm.user.password"
                   ng-minlength="3"
                   required
                   mongoose-error id="pwd1"/>
            <p class="help-block"
               ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
              Password must be at least 3 characters.
            </p>
            <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ vm.errors.password }}
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                                              'has-error': form.confirmPassword.$invalid && vm.submitted }">
            <label>Confirm Password</label>
            <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword" ng-minlength="3" required pw-check='pwd1' id="pwd2"/>
            <div class='msg-block' ng-show='myForm.$error'>
              <span class='msg-error' ng-show='form.pwd2.$error.pwmatch'>
                Passwords don't match.
              </span>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-success': form.college.$valid && vm.submitted,
                                              'has-error': form.college.$invalid && vm.submitted }">
            <label>College</label>

            <input type="text" name="college" placeholder="e.g. IIT Madras" class="form-control" ng-model="vm.user.college"
                   required/>
            <p class="help-block" ng-show="form.college.$error.required && vm.submitted">
              A College is required
            </p>
          </div>
          <div class="form-group" ng-class="{ 'has-success': form.rollNumber.$valid && vm.submitted,
                                              'has-error': form.rollNumber.$invalid && vm.submitted }">
            <label>Roll Number</label>

            <input type="text" name="rollNumber" placeholder="e.g. ME14B133" class="form-control" ng-model="vm.user.rollNumber"
                   required/>
            <p class="help-block" ng-show="form.rollNumber.$error.required && vm.submitted">
              A Roll Number is required
            </p>
          </div>
          <div class="fullW thumbs_wrap">
            <label>Need accomodation?</label>
            <md-radio-group ng-model="vm.user.reqAccom" name="reqAccom">
              <md-radio-button ng-value="true"> Yes</md-radio-button>
              <md-radio-button ng-value="false"> No</md-radio-button>
            </md-radio-group>
          </div>

          <div>
            <button class="btn btn-inverse btn-lg btn-register" type="submit">
              Sign up
            </button>
            <a class="btn btn-default btn-lg btn-login" href="/login">
              Login
            </a>
          </div>

          <hr/>
        </form>
      </div>
    </div>
  </div>
  <hr>
</div>
